<% provide(:title, "About") %>

<h1>About Page</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
<p>This will lead you to <a href="https://rubyonrails.org/foundation" target="_blank">Foundation Page</a> of Ruby on Rails</p>
