<%provide(:title, "Help's on the aywa")%>
<h1>Help Page</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>This will lead you to <a href="https://rubyonrails.org/" target="_blank">Docs</a> of Ruby on Rails</p>
